body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Stops scroll bar from appearing when modal opens */
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.custom-modal-size {
    max-width: 425px;
}


.small-center-panel {
    display: inline-block;
    min-width: 400px;
}

.modal {
    overflow-y: auto;
}

#deleteModalBody {
    padding-bottom: 0;
}

#deleteModalFooter {
    padding-top: 10px;
    padding-bottom: 10px;
}

#deleteWarning {
    font-size: 16px;
}

#dashboard {
    max-width: 600px;
}