@model ListListDev.ViewModels.CreateListItemViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Create New List Item</h4>
</div>
<div class="modal-body clearfix">
    @using (Html.BeginForm("CreateListItem", "List", FormMethod.Post, new { role = "form" }))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Text, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Text, new { @class = "form-control", @placeholder = "Enter Item Name..."})
            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.ListHeaderID)
        </div>

        <div class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <input type="submit" value="Create Item" class="btn btn-primary" />
        </div>
    }
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>